{
  "presets": [
    ["@babel/preset-env", {
      "targets": { "browsers": [">0.5%", "not dead"] },
      "useBuiltIns": "usage",
      "corejs": "3.49",
      "modules": false
    }],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-transform-typescript", { "allowNamespaces": true }],
    "inline-react-svg"
  ]
}
