{
  "presets": [
    ["@babel/preset-env", {
      "bugfixes": true,
      "targets": {
        "browsers": [
          "last 4 Chrome versions",
          "last 3 Edge versions",
          "last 3 Firefox versions",
          "last 4 Safari major versions",
          "last 3 iOS major versions",
          "not IE 11",
          "not op_mini all"
        ]
      },
      "useBuiltIns": false
    }],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-transform-typescript", { "allowNamespaces": true }],
    "inline-react-svg"
  ]
}
